disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        invalid-name,
        pointless-string-statement,
        line-too-long,
        wrong-import-position,consider-using-f-string,
        dangerous-default-value,
        import-error,
        missing-module-docstring,
        no-name-in-module,
        attribute-defined-outside-init,
        no-member,
        unidiomatic-typecheck,
        method-hidden,
        ungrouped-imports,
        too-many-lines,
        missing-function-docstring,
        protected-access,
        bare-except,        
        redefined-outer-name,
        unspecified-encoding